{% extends "base.html.twig" %}

{% block body %}

    <div class="content_box">
        <h2>Action Log</h2>
        <hr>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th>Catergories</th>
                <th>Action</th>
                <th>Valeur</th>
                <th>Fait par</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for action in actions %}
                <tr class="table_listing_row">
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ action.category.name }}</td>
                    <td>{{ action.name }}</td>
                    <td>
                        {% if action.object != null %}
                            <a class="list_tag_link" href="{{ path('objects_view', {id:action.object.id}) }}" title="{{ action.object.title }}">
                                {{ action.object.title|u.truncate(20, '...') }}
                            </a>
                        {% endif %}
                        {% if action.user != null %}
                            <span title="{{ action.createdBy.firstname|upper }} {{ action.createdBy.lastname|capitalize }}">
                                {{ action.createdBy.firstname|upper|u.truncate(20, '...') }} {{ action.createdBy.lastname|capitalize|u.truncate(20, '...') }}
                            </span>
                        {% endif %}
                        {% if action.othersValue != null %}
                            <span title="{{ action.othersValue }}">{{ action.othersValue|u.truncate(20, '...') }}</span>
                        {% endif %}
                    </td>
                    <td>{{ action.createdBy.firstname|upper }} {{ action.createdBy.lastname|capitalize }}</td>
                    <td>{{ action.createdAt|date('d/m/Y-h:m') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>




{% endblock %}
