{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1 class="text-center">Bienvenue sur l'inventaire du Musée Vodou</h1>
    <div class="d-flex home_box_content">
        <div class="col-md-4">
            <div class="home_box home_box_first">
                <span class="fs-3">Nombre d'objets</span>
                <span class="fs-1 py-2">{{ countObjects }}</span>
                <span class="fs-5">{{ countIsExposedPermObjects }} expo permanente</span>
                <span class="fs-5">{{ countIsExposedTempObjects }} expo temporaire</span>
                <span class="fs-5">{{ countIsExposedStock }} En réserve</span>
                <span class="fs-5">{{ countIsRent }} est loué</span>
                <span class="fs-5">{{ countToFix}} à reparé</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="home_box home_box_second mx-2">
                <span class="fs-3">Nombre de Bibliographie</span>
                <span class="fs-1 py-2">{{ libraries|length }}</span>
                <span class="fs-5">avec {{ books|length}} ouvrages</span>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-4">
                <div class="home_box home_box_third">
                    <span class="fs-3">Nombre d'utilisateur</span>
                    <span class="fs-1 py-2">{{ users|length }}</span>
                </div>
            </div>
        {% endif %}

    </div>

    <div class="content_box">
        <h2 class="text-center my-3">Actualité</h2>

        <hr>

        <div class="d-flex justify-content-center flex-wrap">
            {% for new in news %}
                <div class="card_news">
                    <div class="d-flex justify-content-between">
                        <h4>{{ new.title}}</h4>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div>
                                <a href="{{ path('news_edit', {id:new.id}) }}">
                                    <i class="fa-solid fa-pen-nib"></i>
                                </a>
                                <a href="{{ path('news_delete', {id:new.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer cet actu ?')">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <p>{{ new.description|u.truncate(150, '...') }}</p>
                    <div>
                        <div>
                            <em style="font-size: 10px">{{ new.createdBy.firstname|capitalize }} {{ new.createdBy.lastname|upper }} : {{ new.createdAt|date('H:i d-m-Y') }}</em>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div>
                                <em style="font-size: 10px">expire : {{ new.expireAt|date('d-m-Y') }}</em>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>

{% endblock %}
