<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        {# Bootstrap #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ absolute_url(asset('css/base/style.scss')) }}">
    {% endblock %}

    <title>{{ object.title }}</title>
</head>
<body>

    <div class="content">
        <div class="" style="float: right">
            {# //metttre 3 images tout en une largeur de feuille#}
            {% if object is defined and object.images.count > 0 %}
               {% for img in object.images|slice(0, 2) %}
                   <figure style="display: inline-block">
                       <img src="{{ absolute_url( img.name|image ) }}" width="140px" height="auto" alt="">
                       <figcaption>{{ img.code }}</figcaption>
                   </figure>
               {% endfor %}
            {% else %}
                <div class="">
                    <h5 class="m-0">Cette objet n'a pas d'image</h5>
                </div>
            {% endif %}

        </div>


        <div class="col-7">
            <div class="d-flex">
                <h1 style="margin: 0;">
                    {{ object.code }} - {{ object.title }}
                </h1>
                {% if object.quantity != 1 %}
                    <p>({{ object.quantity }} exemplaires)</p>
                {% endif %}
                <h4>
                    {% if object.categories is defined and object.categories is not null %}
                        {{ object.categories.name }}
                    {% else %}
                        Pas de catégorie
                    {% endif %}
                    -
                    {% if object.subCategories is defined and object.subCategories is not null %}
                        {{ object.subCategories.name }}
                    {% else %}
                        Pas de sous-catégorie
                    {% endif %}
                </h4>
            </div>
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <em>Population :&nbsp;</em>
                    {% if object.population is defined and object.population is not null %}
                        {{ object.population.name }}
                    {% else %}
                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center">
                    <em>Origine :&nbsp;</em>
                    {% if object.origin is defined and object.origin is not null %}
                        {{ object.origin.name }}
                    {% else %}
                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center">
                    <em>Divinité :&nbsp;</em>
                    {% if object.gods is defined and object.gods is not null %}
                        {{ object.gods.name }}
                    {% else %}
                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center">
                    <em>Divinité associées :&nbsp;</em>
                    {% if object.relatedGods is defined and object.relatedGods is not null %}
                        {% for relatedGod in object.relatedGods %}
                            {{ relatedGod.name }},
                        {% endfor %}
                    {% else %}
                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center">
                    <em>Datation :&nbsp;</em>
                    {% if object.era is defined and object.era is not null %}
                        {{ object.era }}
                    {% else %}
                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center">
                    <em>Fonction d'usage :&nbsp;</em>
                    {% if object.commentary is defined and object.commentary is not null %}
                        {{ object.commentary }}
                    {% else %}
                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center">
                    <em>Remarques :&nbsp;</em>
                    {% if object.remarks is defined and object.remarks is not null %}
                        {{ object.remarks }}
                    {% else %}
                        <span class="px-2"><i class="fa-solid fa-ban"></i></span>
                    {% endif %}
                </div>
            </div>
        </div>


        <div>
            {% if object.description is defined and object.description is not null %}
                <em>Description : <br></em>
                {{ object.description }}
            {% else %}
                Pas de description
            {% endif %}
        </div>

        <div>
            <em>Catalogue :&nbsp;</em>
            {% if object.isCatalogue is defined and object.isCatalogue is not null %}
                {{ object.isCatalogue ? 'Oui' : 'Non' }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div>
            <em>Etat :&nbsp;</em>
            {% if object.state is defined and object.state is not null %}
                {{ object.state.name }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div>
            <em>Remarque sur l'état :&nbsp;</em>
            {% if object.stateCommentary is defined and object.stateCommentary is not null %}
                {{ object.stateCommentary }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>

        <hr>

        <div class="d-flex align-items-center">
            <em>Poids :&nbsp;</em>
            {% if object.weight is defined and object.weight is not null %}
                {{ object.weight }} g
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <em>Hauteur :&nbsp;</em>
            {% if object.sizeHigh is defined and object.sizeHigh is not null %}
                {{ object.sizeHigh }} cm
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <em>Longueur :&nbsp;</em>
            {% if object.sizeLength is defined and object.sizeLength is not null %}
                {{ object.sizeLength }} cm
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <em>Profondeur :&nbsp;</em>
            {% if object.sizeDepth is defined and object.sizeDepth is not null %}
                {{ object.sizeDepth }} cm
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>


        <div class="d-flex align-items-center">
            <em>Exposition :&nbsp;</em>
            {% if object.location is defined and object.location is not null %}
                {{ object.location.nameFR }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <em>Etage :&nbsp;</em>
            {% if object.floor is defined and object.floor is not null %}
                {{ object.floor }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <em>N° Virtrine :&nbsp;</em>
            {% if object.showcaseCode is defined and object.showcaseCode is not null %}
                {{ object.showcaseCode }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <em>N° Etagère :&nbsp;</em>
            {% if object.shelf is defined and object.shelf is not null %}
                {{ object.shelf }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>



        <div class="d-flex align-items-center">
            <em>Mode d'acquisition :&nbsp;</em>
            {% if object.historicDetail is defined and object.historicDetail is not null %}
                {{ object.historicDetail }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <em>Date d'acquisition :&nbsp;</em>
            {% if object.historicDate is defined and object.historicDate is not null %}
                {{ object.historicDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <em>Crée le :&nbsp;</em>
            {% if object.createdAt is defined and object.createdAt is not null %}
                {{ object.createdAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <em>Modifié le :&nbsp;</em>
            {% if object.updatedAt is defined and object.updatedAt is not null %}
                {{ object.updatedAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
            {% else %}
                <span class="px-2"><i class="fa-solid fa-ban"></i></span>
            {% endif %}
        </div>


    </div>


{% block javascripts %}
{#     Bootstrap#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>