<div class="my-4">
    <div class="captcha_img_box">

{#        <img src="{{ randCaptchaImg }}" alt="img">#}
        <img src="{{ asset('upload/captcha/default.jpg') }}" alt="">

        <div class="captcha_code_container">
            {% for char in captcha.code|split('') %}
                <div class="captcha_code_box" style="width: {{ 100/(captcha.code|length) }}%">
                    <span style="
                            top: {{ random(0, 55) }}%;
                            transform: rotate( {{ random(-70, 70) }}deg );
                            font-size: {{ random(25,55) }}px;
                            color: rgb( {{ random(90, 255) }}, {{ random(90, 255) }}, {{ random(90, 255) }});"
                    >
                        {{ char }}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <div class="d-flex justify-content-between">
            <label for="captcha">Captcha</label>
            <a href="" class="mx-3"><i class="fa-solid fa-arrows-rotate"></i></a>
        </div>
        <input class="form-control" type="text" id="inputCaptcha" name="captcha" />
        <input type="hidden" name="captchaCode" value="{{ captcha.code }}">
    </div>
</div>