{% extends 'base.html.twig' %}


{% block title %}Tous les objets{% endblock %}

{% block body %}


    <div class="content_box">
        <h4 class="p-1">Resultats : {{ totalItemsCount ?? '' }} objets</h4>

        <div class="position-relative">
            {% include 'base/tool/sort_item_toolbar.html.twig' %}
        </div>

        <table class="table">
            <thead>
            <tr>
{#                <th scope="col"></th>#}
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Titre</th>
                <th scope="col">Categories</th>
                <th scope="col">Vodou</th>
                <th scope="col">Fonction d'usage</th>
                {% if is_granted('ROLE_MEMBER') %}
                    <th scope="col">Emplacement</th>
                {% endif %}
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody data-controller="bookmark">
            {% if objects is defined and objects is not empty%}
                {% for object in objects %}
                    <tr class="table_listing_row">
{#                        <th>#}
{#                            <input type="checkbox" class="boxSelectObject">#}
{#                        </th>#}
                        <th scope="row">{{ object.code }}</th>

                        <!--Images-->
                        <td>
                            <!-- Modal -->
                            <div class="modal fade" id="modalListingObjectImg{{ object.code }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalListingObjectImg{{ object.code }}">{{ object.code }} - {{ object.title }}</h5>
                                            <button type="button" class="btn btn-vodou close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="carouselListingObjectImg{{ object.code }}" class="carousel slide" data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                    {% for img in object.images %}
                                                        <div class="carousel-item {{ loop.first ? 'active' }}">
                                                            <img class="d-block w-100" src="{{ img.name|image }}" alt="">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselListingObjectImg{{ object.code }}" role="button" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselListingObjectImg{{ object.code }}" role="button" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Img-->
                            <div class="object_listing_img">
                                <div class="img-ratio" style="--ratio:150%;">
                                    <div class="img">
                                        {% for img in object.images %}
                                            {% if loop.first %}
                                                    <img data-bs-toggle="modal" data-bs-target="#modalListingObjectImg{{ object.code }}" src="{{ img.name|image }}" alt="">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </td>

                        <!--Titre-->
                        <th title="{{ object.title }}">{{ object.title|u.truncate(10, '...') }}</th>

                        <td>
                            {% if object.categories != null %}
                                <a class="list_tag_link" href="{{ path('objects', {'categories[]': object.categories.id}) }}">
                                    {{ object.categories.name }}
                                </a>
                            {% endif %}
                        </td>

                        <!--Vodou-->
                        <td>
                            {% if object.gods != null %}
                                <a class="list_tag_link" href="{{ path('objects', {'gods[]': object.gods.id}) }}">
                                    {{ object.gods.name }}
                                </a>
                            {% endif %}
                        </td>


                        <!--Fonction usage-->
                        <td>
                            {{ object.commentary|u.truncate(150, '...') }}
                        </td>

                        <!--Emplacement-->
                        {% if is_granted('ROLE_MEMBER') %}
                            <td>
                                {% if object.floor %}
                                    <a class="list_tag_link" href="{{ path('objects', {'floor[]': object.floor.id}) }}">
                                        {{ object.floor.name }}
                                    </a>
                                {% endif %}
                                <div class="d-flex justify-content-center">
                                    {% if object.showcaseCode %}
                                        {{ object.showcaseCode }} -
                                    {% endif %}
                                    {% if object.shelf %}
                                        {{ object.shelf }}
                                    {% endif %}
                                </div>

                                {% if object.isBasemented != null %}
                                    <a class="list_tag_link_bg" href="{{ path('objects', {'isBasemented': 1}) }}">
                                        <span class="object_basemented px-2">Avec Socle</span>
                                    </a>
                                {% endif %}
                                {% if object.location != null %}
                                    {% if object.location.id == 1 %}
                                        <a class="list_tag_link_bg" href="{{ path('objects', {'location[]': 1}) }}">
                                            <span class="object_exposed_rent px-2">{{ object.location.nameFR }}</span>
                                        </a>
                                    {% endif %}
                                    {% if object.location.id == 2 %}
                                        <a class="list_tag_link_bg" href="{{ path('objects', {'location[]': 2}) }}">
                                            <span class="object_exposed_perma px-2">{{ object.location.nameFR }}</span>
                                        </a>
                                    {% endif %}
                                    {% if object.location.id == 3 %}
                                        <a class="list_tag_link_bg" href="{{ path('objects', {'location[]': 3}) }}">
                                            <span class="object_exposed_tempo px-2">{{ object.location.nameFR }}</span>
                                        </a>
                                    {% endif %}
                                    {% if object.location.id == 4 %}
                                        <a class="list_tag_link_bg" href="{{ path('objects', {'location[]': 4}) }}">
                                            <span class="object_exposed_stock px-2">{{ object.location.nameFR }}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}


                        <td colspan="1">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <a class="btn btn-vodou" href="{{ path('objects_view', {id:object.id}) }}" title="Voir">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </div>
                                {% if is_granted('ROLE_MEMBER') %}
                                    <div>
                                        <a class="btn btn-vodou" href="{{ path('object_pdf', {id:object.id}) }}" title="fichier PDF">
                                            <i class="fa-solid fa-file-pdf"></i>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div>
                                        <a class="btn btn-vodou" href="{{ path('objects_edit', {id:object.id}) }}" title="Editer">
                                            <i class="fa-solid fa-pen-nib"></i>
                                        </a>
                                    </div>
                                {% endif %}


                                <!--Ajout aux favoris-->
                                <div>
                                    <button data-action="click->bookmark#saveBookmark"
                                            data-url="{{ path('objects_bookmark', {id:object.id}) }}"
                                            class="btn btn-vodou">
                                        {% if object.id not in bookmarks %}
                                            <i title="Ajouter aux favoris" class="fa-regular fa-bookmark"></i>
                                        {% else %}
                                            <i title="Retirer des favoris" class="fa-solid fa-bookmark"></i>
                                        {% endif %}
                                    </button>
                                </div>

                            </div>
                        </td>
                    </tr>


                {% endfor %}
            {% endif %}
            </tbody>
        </table>

{#        //lazy loading#}
        {{ knp_pagination_render(objects) }}

    </div>



{% endblock %}
