{% extends 'base.html.twig' %}


{% block title %}Tous les objets{% endblock %}

{% block body %}


    <div class="content_box">
        <h4 class="p-1">Resultats : {{ totalItemsCount ?? '' }} objets</h4>

        <div class="position-relative">
            {% include 'base/tool/sort_item_toolbar.html.twig' %}
        </div>

        <table class="table">
            <thead>
            <tr>
{#                <th scope="col"></th>#}
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Titre</th>
                <th scope="col">Categories</th>
                <th scope="col">Dieux</th>
                <th scope="col">Collection</th>
                <th scope="col">Exposition</th>
                <th scope="col">Emplacement</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody data-controller="bookmark">
            {% if objects is defined and objects is not empty%}
                {% for object in objects %}
                    <tr class="table_listing_row">
{#                        <th>#}
{#                            <input type="checkbox" class="boxSelectObject">#}
{#                        </th>#}
                        <th scope="row">{{ object.code }}</th>
                        <td>
                            <div style="width: 80px !important;">
                                <div class="img-ratio" style="--ratio:150%;">
                                    <div class="img">
                                        {% for img in object.images %}
                                            {% if loop.first %}
                                                <img src="{{ img.name|image }}" alt="">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <th title="{{ object.title }}">{{ object.title|u.truncate(10, '...') }}</th>
                        <td>
                            {% if object.categories != null %}
                                <a class="list_tag_link" href="{{ path('objects', {'categories[]': object.categories.id}) }}">
                                    {{ object.categories.name }}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if object.gods != null %}
                                <a class="list_tag_link" href="{{ path('objects', {'gods[]': object.gods.id}) }}">
                                    {{ object.gods.name }}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                {% for book in object.book|slice(0, 5) %}
                                    <li title="{{ book.title }}">
                                        {{ book.title|u.truncate(10, '...') }}
                                    </li>
                                {% endfor %}
                                {% if object.book|length > 5 %}
                                    <li>...</li>
                                {% endif %}
                            </ul>

                        </td>
                        <td>
                            {% if object.isBasemented != null %}
                                <a class="list_tag_link_bg" href="{{ path('objects', {'isBasemented': 1}) }}">
                                    <span class="object_basemented px-2">Avec Socle</span>
                                </a>
                            {% endif %}
                            {% if object.location != null %}
                                {% if object.location.id == 1 %}
                                    <a class="list_tag_link_bg" href="{{ path('objects', {'location[]': 1}) }}">
                                        <span class="object_exposed_rent px-2">{{ object.location.nameFR }}</span>
                                    </a>
                                {% endif %}
                                {% if object.location.id == 2 %}
                                    <a class="list_tag_link_bg" href="{{ path('objects', {'location[]': 2}) }}">
                                        <span class="object_exposed_perma px-2">{{ object.location.nameFR }}</span>
                                    </a>
                                {% endif %}
                                {% if object.location.id == 3 %}
                                    <a class="list_tag_link_bg" href="{{ path('objects', {'location[]': 3}) }}">
                                        <span class="object_exposed_tempo px-2">{{ object.location.nameFR }}</span>
                                    </a>
                                {% endif %}
                                {% if object.location.id == 4 %}
                                    <a class="list_tag_link_bg" href="{{ path('objects', {'location[]': 4}) }}">
                                        <span class="object_exposed_stock px-2">{{ object.location.nameFR }}</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if object.floor %}
                                <a class="list_tag_link" href="{{ path('objects', {'floor[]': object.floor.id}) }}">
                                    {{ object.floor.name }}
                                </a>
                            {% endif %}
                            <div class="d-flex">
                                {% if object.showcaseCode %}
                                    {{ object.showcaseCode }} -
                                {% endif %}
                                {% if object.shelf %}
                                    {{ object.shelf }}
                                {% endif %}
                            </div>
                        </td>

                        <td colspan="1">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <a class="btn btn-vodou" href="{{ path('objects_view', {id:object.id}) }}" title="Voir">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </div>
                                {% if is_granted('ROLE_MEMBER') %}
                                    <div>
                                        <a class="btn btn-vodou" href="{{ path('object_pdf', {id:object.id}) }}" title="fichier PDF">
                                            <i class="fa-solid fa-file-pdf"></i>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div>
                                        <a class="btn btn-vodou" href="{{ path('objects_edit', {id:object.id}) }}" title="Editer">
                                            <i class="fa-solid fa-pen-nib"></i>
                                        </a>
                                    </div>
                                {% endif %}


                                <!--Ajout aux favoris-->
                                <div>
                                    <button data-action="click->bookmark#saveBookmark"
                                            data-url="{{ path('objects_bookmark', {id:object.id}) }}"
                                            class="btn btn-vodou">
                                        {% if object.id not in bookmarks %}
                                            <i title="Ajouter aux favoris" class="fa-regular fa-bookmark"></i>
                                        {% else %}
                                            <i title="Retirer des favoris" class="fa-solid fa-bookmark"></i>
                                        {% endif %}
                                    </button>
                                </div>

                            </div>
                        </td>
                    </tr>


                {% endfor %}
            {% endif %}
            </tbody>
        </table>

{#        //lazy loading#}
        {{ knp_pagination_render(objects) }}

    </div>



{% endblock %}
