<div class="navbar_objects d-flex align-items-center flex-wrap">

    {% if route_name != 'objects_view' %}
        <h4 class="p-2 btn-vodou">
            <a href="{{ path('objects_view', {id:object.id}) }}">
                {{ object.title|u.truncate(20, '...') }}
            </a>
        </h4>
    {% else %}
        <h4 class="p-2 btn-vodou-active">
            {{ object.title|u.truncate(20, '...') }}
        </h4>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {% if route_name != 'objects_edit' %}
            <a href="{{ path('objects_edit', {id:object.id}) }}" class="btn btn-vodou">
                <i class="fa-solid fa-pen"></i>
            </a>
        {% else %}
            <div class="p-2 btn-vodou-active">
                <i class="fa-solid fa-pen"></i>
            </div>
        {% endif %}
    {% endif %}



    {% if is_granted('ROLE_MEMBER') %}
        {% if route_name != 'objects_medias' %}
            <a href="{{ path('objects_medias', {id:object.id}) }}" class="btn btn-vodou">
                <i class="fa-solid fa-images"></i>
            </a>
        {% else %}
            <div class="p-2 btn-vodou-active">
                <i class="fa-solid fa-images"></i>
                <div class="fs-8 m-0 px-1">( jpg, png, gif )</div>
            </div>

        {% endif %}

        {% if route_name != 'objects_videos' %}
            <a href="{{ path('objects_videos', {id:object.id}) }}" class="btn btn-vodou">
                <i class="fa-solid fa-film "></i>
            </a>
        {% else %}
            <div class="p-2 btn-vodou-active">
                <i class="fa-solid fa-film"></i>
                <div class="fs-8 m-0 px-1">( avi, flv, mov, webm, mp4, wmv, 3gp )</div>
            </div>
        {% endif %}

        {% if route_name != 'objects_youtube' %}
            <a href="{{ path('objects_youtube', {id:object.id}) }}" class="btn btn-vodou">
                <i class="fa-brands fa-youtube"></i>
            </a>
        {% else %}
            <div class="p-2 btn-vodou-active">
                <i class="fa-brands fa-youtube"></i>
            </div>
        {% endif %}

        {% if route_name != 'objects_files' %}
            <a href="{{ path('objects_files', {id:object.id}) }}" class="btn btn-vodou">
                <i class="fa-solid fa-file"></i>
            </a>
        {% else %}
            <div class="p-2 btn-vodou-active">
                <i class="fa-solid fa-file"></i>
                <div class="fs-8 m-0 px-1">( pdf, xls )</div>
            </div>
        {% endif %}
            <div>
                <a class="btn btn-vodou" href="{{ path('object_pdf', {id:object.id}) }}" title="fichier PDF">
                    <i class="fa-solid fa-file-pdf"></i>
                </a>
            </div>
    {% endif %}

</div>

<div class="d-flex justify-content-between">
    <a href="{{ app.request.uri }}" id="prev_object" title="Objet précédent de la recherche"><i class="btn-vodou fa-solid fa-chevron-left p-2"></i></a>
    <a href="{{ app.request.uri }}" id="next_object" title="Objet suivant de la recherche"><i class="btn-vodou fa-solid fa-chevron-right p-2"></i></a>
</div>