
<div class="mx-5 pb-3">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.firstname) }}</div>
        <div class="col-md-4">{{ form_row(form.lastname) }}</div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-4">{{ form_row(form.roles) }}</div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-4">{{ form_row(form.email) }}</div>
    </div>
    <div class="row">
        {% if user is defined and app.user is same as user or adding_member is defined %}
                <div class="col-md-6">{{ form_row(form.password.first) }}</div>
        {% endif %}
    </div>
    <div class="row">
        {% if user is defined and app.user is same as user or adding_member is defined %}
            <div class="col-md-6">{{ form_row(form.password.second) }}</div>
        {% endif %}
    </div>


    <div class="d-flex justify-content-between">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>
