{% extends "base.html.twig" %}

{% block body %}
    <div class="content_box">
        <h2>Ajouter une Bibliographie</h2>
        <hr class="mb-5">

        <div class="row">
            <div class="col-md-5">
                <h4 class="p-2">Mes bibliographies</h4>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Couleur</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for library in libraries %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <th><div class="bubble_color bg_{{ loop.index }}"></div></th>
                            <th>{{ library.title }}</th>
                            <td colspan="1">
                                <div class="d-flex flex-wrap">
                                    <div>
                                        <a class="btn btn-vodou" href="{{ path('edit_library', {id:library.id}) }}" title="Editer">
                                            <i class="fa-solid fa-pen-nib"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="btn btn-vodou" href="{{ path('delete_library', {id:library.id}) }}" title="Supprimer" onclick="return confirm('Etes vous sûr de vouloir supprimer cet article ?')">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-md-7">
                <h4>Ajouter</h4>
                <div class="mx-5">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-10">{{ form_row(form.title) }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        {{ form_row(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>


        </div>


    </div>


{% endblock %}
