{% extends "base.html.twig" %}

{% block body %}

    <div class="content_box">
        <h2>Mes bibliographies</h2>
        <hr class="mb-5">

        {% for library in libraries %}
            <div class="row m-0 mb-5">

                <div class="col-12 bg_{{ loop.index }} m-0 py-2 d-flex justify-content-between">
                    <span class="mx-5">
                        {{ library.title|upper }}
                    </span>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-vodou" href="{{ path('delete_library', {id:library.id}) }}" title="Supprimer" onclick="return confirm('Etes vous sûr de vouloir supprimer cette bibliographie et TOUT SES OUVRAGES ?')">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    {% endif %}
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Auteur</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Editeur</th>
                                <th scope="col">Année</th>
                                <th scope="col">Tome</th>
                                <th scope="col">Pages</th>
                                <th scope="col">Nota</th>
                                <th scope="col">N° Prêt</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if library.book is defined and library.book is not empty%}
                            {% for book in library.book %}
                                <tr>
                                    <th scope="row">{{ book.author }}</th>
                                    <th>{{ book.title }}</th>
                                    <th>{{ book.city }}</th>
                                    <th>{{ book.editor }}</th>
                                    <th>{{ book.year|format_datetime(locale='fr',pattern="YYYY") }}</th>
                                    <th>{{ book.quantity }}</th>
                                    <th>{{ book.pages }}</th>
                                    <th>{{ book.notice|u.truncate(10, '...') }}</th>
                                    <th>{{ book.rentNumber }}</th>
                                    <td colspan="1">
                                        <div class="d-flex flex-wrap">
                                            <a class="btn btn-vodou" href="{{ path('book', {id:book.id}) }}" title="Voir">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <div>
                                                    <a class="btn btn-vodou" href="{{ path('edit_book', {id:book.id}) }}" title="Editer">
                                                        <i class="fa-solid fa-pen-nib"></i>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a class="btn btn-vodou" href="{{ path('book_delete', {id:book.id}) }}" title="Supprimer" onclick="return confirm('Etes vous sûr de vouloir supprimer cet article ?')">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

        {% endfor %}
    </div>




{% endblock %}
